.form-group {

    .form-control {
        width: 100%;
        display: block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        border: 1px solid rgb(226 232 240);
        line-height: 1.25rem;
        border-radius: 0.25rem;
        font-size: 13px;
        font-weight: 400;
    }
}